<head>
    {include file="../app/admin/view/public/assgin.html" /}

    <script>
        let THEME = ST.adminTheme.theme
        const htmlDom = document.getElementsByTagName('html')[0]

        if (ST.adminTheme.theme == 'system') {
            THEME = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
            htmlDom.setAttribute('class', `${THEME} ${ST.adminTheme.color}`)
        }


    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>SaetAdmin</title>

    {package is='axios,nprogress,sortable,saet,remixicon'/}


    <script src="/static/package/draggable/vuedraggable.umd.min.js"></script>
    <script src="/static/package/vue/component.js"></script>


</head>