{component is="st-window"/}

<script type="module">
    // ceeat view
    // const templatetDom = document.getElementsByTagName('template')
    // const appDom = document.getElementById('saetApp')
    // appDom.append(templatetDom[0].content.cloneNode(true))
    // appDom.innerHTML += ' <st-window> </st-window>'

    useSaetVue()
    
    if (self == top && ST.rule != 'index/index' && ST.rule != 'index/login') {
        let headDom = document.head || document.getElementsByTagName('head')[0]
        let style = document.createElement('style');
        style.appendChild(document.createTextNode('body{padding:15px;}'))
        headDom.appendChild(style)
    }

    /** 根地址模式
     * false-无根地址
     * admin-截止到admin.php/
     * addon-截止到admin.php/more_module@admin/访问非插件url时等效于root
     */
    St.axios.defaults.baseUrlType = 'addon';
    St.axios.interceptors.request.use((config) => {
        if (config.url == '') return config;
        if (config.baseUrlType == 'addon' && typeof (ST.apiBaseUrl) != 'undefined') {
            config.baseURL = ST.apiBaseUrl;
        }
        if (config.baseUrlType == 'root' && typeof (ST.apiRootUrl) != 'undefined') {
            config.baseURL = ST.apiRootUrl;
        }
        return config;
    });


    // iframe 父级 主题切换
    window.addEventListener('message', function (e) {  // 监听 message 事件
        htmlDom.setAttribute('class', `${e.data.theme} ${e.data.color}`)
    });

    // 单窗口主动切换
    if (ST.adminTheme.theme == 'system') {
        window.matchMedia('(prefers-color-scheme: dark)')
            .addEventListener('change', event => {
                if (event.matches) {
                    htmlDom.setAttribute('class', `dark ${ST.adminTheme.color}`)
                } else {
                    htmlDom.setAttribute('class', `light ${ST.adminTheme.color}`)
                }
            })
    }



</script>