<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaetAdmin安装</title>
    </title>
    <!-- <script src="/static/package/vue/index.min.js"></script>
    <script src="/static/package/element-plus/index.min.js"></script>
    <link rel="stylesheet" href="/static/package/element-plus/index.min.css"> -->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <!-- <script src="//cdn.jsdelivr.net/npm/vue@3"></script> -->

    <!--<script async src="https://ga.jspm.io/npm:es-module-shims@1.5.4/dist/es-module-shims.js"></script> -->

    <!-- Import component library -->
    <!-- <script src="//cdn.jsdelivr.net/npm/element-plus"></script> -->
</head>

<body>
    <div id="saetApp">
        <div style="margin: auto;padding:0 10px;">
            <!-- <el-space direction="vertical" style="width:100%;" fill>
                <el-image src=""></el-image>
                <el-alert title="欢迎使用SaetAdmin快速开发框架" description="请认真填写下方所需信息," type="success">
                    <template #default>
                        请填写下方所需信息,如果是第一次使用可以点击 <el-link :underline="false" href="http://baidu.com">
                            <el-tag effect="dark" size="small">
                                传送门
                            </el-tag>
                        </el-link>查看文档 ^-^
                    </template>
                </el-alert>

                <el-steps :active="0" simple finish-status="success">
                    <el-step title="检测" icon="Add"></el-step>
                    <el-step title="安装"></el-step>
                    <el-step title="完成"></el-step>
                </el-steps>
                <el-form :model="" label-width="80px">
                    <div>数据库信息</div>
                    <el-form-item label="地址/端口">
                        <el-row :gutter="10">
                            <el-col :span="14">
                                <el-input v-model="" placeholder="ip地址"></el-input>
                            </el-col>
                            <el-col :span="10">
                                <el-input v-model="" placeholder="数据库端口"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="账户/密码">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-input v-model="" placeholder="数据库账号"></el-input>
                            </el-col>
                            <el-col :span="12">
                                <el-input v-model="" placeholder="数据库密码"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>

                    <el-form-item label="库名/前缀">
                        <el-row :gutter="10">
                            <el-col :span="14">
                                <el-input v-model="" placeholder="数据库名"></el-input>
                            </el-col>
                            <el-col :span="10">
                                <el-input v-model="" placeholder="数据库前缀"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <div>
                        站点信息
                    </div>
                    <el-form-item label="站点标题">
                        <div>
                            <el-input v-model="" placeholder="站点标题"></el-input>
                        </div>
                    </el-form-item>
                    <el-form-item label="超管账号">
                        <el-input v-model="" placeholder="管理员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="账号密码">
                        <el-input v-model="" placeholder="管理员密码"></el-input>
                    </el-form-item>
                    <el-form-item label="重复密码">
                        <el-input v-model="" placeholder="重复密码"></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="" v-if="stepCur == 0">下一步</el-button>
                <el-button type="" v-if="stepCur == 1">开始安装</el-button>
            </el-space> -->
            <el-button type="">开始安装</el-button>
            {{stepCur}}
        </div>
    </div>

<script>
   
</script>
</body>

</html>